@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap");

:root {
  --background-color: rgb(159, 135, 114);
  --primary-color: rgb(102, 90, 72);
  --secondary-color: rgb(200, 219, 190);
  --accent-color: rgb(237, 228, 224);
  --text-color: rgb(58, 51, 41);
  --heading-font-family: "Special Elite", cursive;
  --default-font-family: "Poppins", sans-serif;
}

.App {
  font-family: var(--default-font-family);
}

.App .container {
  margin: 30px auto;
  max-width: 900px;
}

.App header {
  color: var(--accent-color);
  margin-bottom: 30px;
  font-family: var(--heading-font-family);
}

.App footer {
  text-align: center;
  margin: 30px 0;
}

.App footer a {
  color: var(--accent-color);
}

.App footer a:visited {
  color: var(--secondary-color);
}
