.Dictionary section {
  background: var(--accent-color);
  padding: 20px 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Dictionary h3 {
  font-size: 20px;
  margin-bottom: 18px;
  font-weight: bold;
}

.Dictionary input {
  width: 100%;
  color: #333;
  padding: 6px 10px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
}
