.Meaning h5 {
  margin-left: 12px;
}

.Meaning .allMeanings {
  margin-left: 12px;
}

.Meaning .individualMeanings {
  margin: 10px 0;
}

.Meaning .example {
  margin-left: 12px;
  opacity: 0.7;
  font-style: italic;
}
