.Results h2 {
  font-size: 36px;
  line-height: 1.5;
  margin-top: -5px;
}

.Results h5 {
  margin-top: -8px;
  margin-left: 8px;
}

.Meaning .example {
  margin-left: 12px;
  opacity: 0.65;
  font-style: italic;
}

.Phonetic {
  margin-right: 25px;
}

.Phonetic button {
  padding: 2px 7px;
  margin-top: 5px;

  color: white;
  background: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
}

.Phonetic button:hover {
  color: cornflowerblue;
  background: aliceblue;
  border: 1px solid cornflowerblue;
}

.Phonetic .phoneticText {
  font-size: 15px;
  margin-left: 12px;
  opacity: 0.6;
  font-weight: bold;
}

.Synonyms {
  color: teal;
  font-size: 14px;
  margin-left: 12px;
}

.Synonyms .synonym {
  display: inline-block;
  font-weight: 600;
  padding-right: 10px;
}
